<!-- <nav
  id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-dark headroom navbar-transparent p-0"
>
  <div class="container-fluid">
    <a class="navbar-brand mr-lg-5" routerLink="/dashboard"
      ><img id="brand-logo" style="width: 50px; height: 50px"
    /></a>
    <button
      aria-controls="navbar_global"
      aria-label="Toggle navigation"
      type="button"
      class="navbar-toggler"
      aria-expanded="false"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      id="navbar_global"
      class="navbar-collapse collapse"
      aria-expanded="false"
      aria-hidden="true"
      style="display: none; justify-content: end"
    >
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand">
          </div>
          <div class="col-6 collapse-close">
            <button
              aria-controls="navbar_global"
              aria-label="Toggle navigation"
              id="navbar_global"
              type="button"
              class="navbar-toggler"
              aria-expanded="false"
            >
              <span></span><span></span>
            </button>
          </div>
        </div>
      </div>

      <div class="user-info d-flex align-items-center">
        <ul
          class="navbar-nav navbar-nav-hover align-items-lg-center mr-lg-auto"
        >
          <li class="nav-item dropdown text-center">
            <a
              data-toggle="dropdown"
              href="javascript:;"
              role="button"
              id="navbarDropdownMenuLink"
              aria-haspopup="true"
              aria-expanded="false"
              class="nav-link p-0 dropdown-toggle"
            >
              <i class="ni ni-app d-lg-none"></i
              ><span class="nav-link-inner--text">
                <i
                  class="fa fa-user"
                  aria-hidden="true"
                  style="font-size: 30px"
                ></i>
              </span>
            </a>
            <div
              aria-labelledby="navbarDropdownMenuLink"
              class="dropdown-menu dropdown-menu-right"
            >
              <a class="dropdown-item">Sign Out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Third Line</span>
    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon
        class="profile-icon"
        aria-hidden="false"
        aria-label="Profile icon"
        >account_circle</mat-icon
      >
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signout()">Sign Out</button>
      <!-- <button mat-menu-item>Item 2</button> -->
    </mat-menu>
    <!-- <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example heart icon"
      >favorite</mat-icon
    >
    <mat-icon
      class="example-icon"
      aria-hidden="false"
      aria-label="Example delete icon"
      >delete</mat-icon
    > -->
  </mat-toolbar-row>
</mat-toolbar>
