<mat-card>
  <mat-card-content>
    <form [formGroup]="loginForm">
      <h2>Log In</h2>
      <!-- <mat-error *ngIf="loginInvalid">
        The username and password were not recognised
      </mat-error> -->
      <mat-form-field class="full-width-input">
        <input matInput placeholder="Email" formControlName="email" required />
        <mat-error> Please provide a valid email address </mat-error>
      </mat-form-field>
      <mat-form-field class="full-width-input">
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <mat-error>
          Please provide a valid password
          <!-- <div
            *ngIf="loginForm.get('password')?.value && !loginForm.get('password')?.errors"
          >
            Password is valid:
            <span *ngIf="loginForm.get('password')?.value.length >= 8">Length</span>
            <span *ngIf="loginForm.get('password').value.match(/[a-z]/)"
              >Lowercase letter</span
            >
            <span *ngIf="loginForm.get('password')?.value.match(/[A-Z]/)"
              >Uppercase letter</span
            >
            <span *ngIf="v.get('password')?.value.match(/[0-9]/)"
              >Number</span
            >
            <span
              *ngIf="form.get('password')?.value.match('/[!@#\$%\^&\*\(\)_\+\-\.,:;<=>\?@\[\]\{\}\|\\]/')"
              >Special character</span>
          </div> -->
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </form>
    <div class="already-wrapper">
      <span>Already a user?</span> <a type="btn" routerLink="/signup">Signup</a>
    </div>
  </mat-card-content>
</mat-card>
